{%load static%}
<!DOCTYPE html>
<html>
<head>
  <title>Contato</title>
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Meu Portfólio</h1>
  </header>

  <nav>
    <ul>
    <li><a href="{%url 'index'%}">Início</a></li>
    <li><a href="{%url 'sobre'%}">Sobre</a></li>
    <li><a href="{%url 'projetos'%}">Projetos</a></li>
    <li><a href="{%url 'contato'%}">Contato</a></li>
    </ul>
  </nav>

  <section id="contact">
    <h2>Contato</h2>
    <p>Adicione aqui suas informações de contato, como e-mail e telefone.</p>
  </section>

</body>
</html>
