<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<title> Frameworks </title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	</head>
	<body>
	       
	   
	   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">BSI - IFNMG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">HOME</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="w3c.html">W3C</a>
      </li>
	  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Desenvolvimento Web
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">HTML<span class="sr-only">(página atual)</span></a>
          <a class="dropdown-item" href="#">CSS</a>
          <a class="dropdown-item" href="#">Javascript</a>
		  <a class="dropdown-item" href="#">Frameworks Frontend</a>
		  <a class="dropdown-item" href="#">Frameworks Backend</a>
        </div>
      </li>
      
    </ul>
    <button type="button" class="btn btn-outline-dark">Baixar</button>
  </div>
</nav>
     
<div class="jumbotron">
  <h1 class="display-4">A linguagem HTML (HyperText Markup Language)</h1>
  <hr class="my-4">
  <p>A linguagem HTML (HyperText Markup Language) é uma linguagem de marcação utilizada para a criação e estruturação de páginas da web. Ela foi desenvolvida por Tim Berners-Lee no início da década de 1990, enquanto ele trabalhava no CERN (Organização Europeia para a Pesquisa Nuclear) como uma forma de compartilhar informações de forma eficiente entre os pesquisadores.
    A primeira versão do HTML, conhecida como HTML 1.0, foi lançada em 1993. Essa versão inicial incluía elementos básicos de marcação, como títulos, parágrafos, listas e links. A estrutura do HTML foi inspirada no padrão de documentos SGML (Standard Generalized Markup Language), que permitia a estruturação de documentos de forma hierárquica.
    Conforme a web começou a se popularizar, houve uma necessidade de adicionar mais recursos e funcionalidades ao HTML. Isso levou ao desenvolvimento de novas versões da linguagem, como HTML 2.0 em 1995 e HTML 3.2 em 1997. No entanto, essas versões ainda eram limitadas em termos de design e interatividade.
    O grande avanço na história do HTML ocorreu com o lançamento do HTML 4.0 em 1997. Essa versão introduziu recursos importantes, como formulários interativos, tabelas, frames e folhas de estilo em cascata (CSS). O CSS permitia separar a formatação do conteúdo do documento HTML, tornando mais fácil o controle do design e a criação de layouts complexos.
    No início dos anos 2000, a web começou a evoluir rapidamente, e surgiu a necessidade de um HTML mais poderoso e flexível. Isso levou ao desenvolvimento do XHTML (Extensible HyperText Markup Language), que combinava a sintaxe do HTML com a estrutura do XML (eXtensible Markup Language). O XHTML 1.0 foi lançado em 2000, seguido pelo XHTML 1.1 em 2001.
    No entanto, o XHTML acabou sendo substituído pelo HTML5. O HTML5 foi uma revisão importante da linguagem HTML, introduzindo uma série de recursos e APIs (Application Programming Interfaces) que permitiram a criação de aplicações web avançadas e compatibilidade com multimídia. O HTML5 foi finalizado em 2014, mas ainda está em constante desenvolvimento.
    Além disso, com o avanço da web móvel, foram introduzidos recursos específicos para dispositivos móveis no HTML, como a capacidade de criar layouts responsivos que se ajustam a diferentes tamanhos de tela.
    Atualmente, o HTML5 é amplamente utilizado na criação de sites e aplicações web. Sua sintaxe simples e intuitiva, juntamente com sua compatibilidade com outras tecnologias da web, como CSS e JavaScript, o tornaram a base para o desenvolvimento web moderno.
</p>
  <a class="btn btn-outline-primary btn-sm" href="https://www.w3.org/" role="button">Leia mais</a>
  
  <hr class="my-4">

</div>




	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
	</body>
</html>    
