<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<title> Frameworks </title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	</head>
	<body>
	       
	   
	   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">BSI - IFNMG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">HOME</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">W3C<span class="sr-only">(página atual)</span></a>
      </li>
	  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Desenvolvimento Web
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'html' %}">HTML</a>
          <a class="dropdown-item" href="#">CSS</a>
          <a class="dropdown-item" href="#">Javascript</a>
		  <a class="dropdown-item" href="#">Frameworks Frontend</a>
		  <a class="dropdown-item" href="#">Frameworks Backend</a>
        </div>
      </li>
      
    </ul>
    <button type="button" class="btn btn-outline-dark">Baixar</button>
  </div>
</nav>
     
<div class="jumbotron">
  <h1 class="display-4">World Wide Web Consortium</h1>
  <hr class="my-4">
  <p>O Consórcio World Wide Web, conhecido como W3C, é uma organização internacional dedicada ao desenvolvimento e padronização das tecnologias da World Wide Web. 
    Fundado em 1994 por Tim Berners-Lee, o criador da web, o W3C tem desempenhado um papel crucial na evolução da internet, estabelecendo diretrizes e especificações que garantem a interoperabilidade e o crescimento sustentável da web.
    Uma das principais missões do W3C é promover a acessibilidade, tornando a web acessível a todos, independentemente de suas habilidades ou limitações. O consórcio desenvolve diretrizes e práticas recomendadas para garantir que pessoas com deficiência possam utilizar plenamente os recursos da web.
    Além disso, o W3C é responsável por criar padrões abertos e livres de royalties para as tecnologias da web. Isso inclui linguagens de marcação como HTML e XML, folhas de estilo como CSS e protocolos de comunicação como o HTTP. Esses padrões permitem que desenvolvedores de todo o mundo construam aplicativos e sites compatíveis entre diferentes plataformas e dispositivos.
    O trabalho do W3C também abrange áreas como segurança, privacidade, internacionalização e semântica da web. Eles desenvolvem padrões e diretrizes para proteger os usuários online, garantir a privacidade dos dados pessoais, permitir a criação de sites multilíngues e facilitar a troca e o compartilhamento de informações de forma mais significativa.
    O W3C é composto por membros de diversos setores, incluindo empresas de tecnologia, organizações sem fins lucrativos, universidades e governos. Essa diversidade de participantes garante a representação de diferentes perspectivas e interesses na definição dos padrões da web.
    Como uma organização neutra e independente, o W3C desempenha um papel fundamental na construção de um ecossistema web aberto, interoperável e acessível para todos. Seu trabalho contínuo na definição de padrões e melhores práticas tem contribuído significativamente para a evolução e o sucesso da World Wide Web como a conhecemos hoje. 
</p>
  <a class="btn btn-outline-primary btn-sm" href="https://www.w3.org/" role="button">Leia mais</a>
  
  <hr class="my-4">

</div>




	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
	</body>
</html>    
